.DS_Store
connect-admin/node_modules

supplier-facts/.gradle
supplier-facts/.idea
supplier-facts/.kotlin
supplier-facts/build

rfq-service/.idea
rfq-service/build
rfq-service/.kotlin
rfq-service/.gradle
.idea/
/recommendation-service/city_cache.json